.cardContainer {
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(33, 9, 121, 0.8) 35%,
      rgba(0, 168, 255, 1) 100%
    );
    height: auto;
    // background-size: 100vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  
    .filter {
      color: white;
      border: 1px solid white;
      height: 80vh;
      width: 20%;
      position: fixed;
      top: 100px;
      left: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 168, 255, 1) 0%,
        rgba(69, 128, 130, 1) 7%,
        rgba(54, 136, 157, 1) 93%,
        rgba(0, 168, 255, 1) 100%
      );
      padding: 20px;
      box-sizing: border-box;
      overflow-y: auto;
      display: none; // Hidden by default
  
      &.filterVisible {
        display: block; // Show when visible state is true
        @media screen and (max-width: 768px) {
          z-index: 10000;
          width: 100%;
          height: 100vh;
          position: fixed;
          top: 0;
          display: flex;
          flex-direction: column;
          gap: 29px;
          padding-top: 100px;
        }
      }
  
      .search_box {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        input {
          padding: 10px;
        }
      }
      .dropdown {
        display: flex;
        flex-direction: column;
        font-size: 18px; // Default font size
  
        // Media query for mobile devices
        @media screen and (max-width: 768px) {
          select {
            font-size: 14px; // Adjust font size for mobile
          }
        }
      }
    }
  
    .closeButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      display: none; // Hidden by default
  
      @media screen and (max-width: 768px) {
        display: block; // Show only on mobile
      }
    }
  
    .filterButton {
      display: none; // Hidden by default on larger screens
      position: fixed;
      top: 80px;
      right: 0;
      padding: 10px;
      background: rgb(255, 255, 255);
      color: rgb(35, 98, 186);
      border: none;
      cursor: pointer;
      width: 100%;
  
      @media screen and (max-width: 768px) {
        display: block; // Show on mobile
      }
    }
  
    .cards {
      // width: 60%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      position: relative;
      left: 0px;
      margin-left: 130px;
      top: 100px;
  
      .card {
        // background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 20px;
        width: 250px;
        overflow: hidden;
        transition: transform 0.3s;
        position: relative;
        height: 368px;
  
        a {
          top: 10px;
        }
  
        &:hover {
          transform: scale(1.05);
        }
        @media screen and (max-width:768px) {
          width: 280px;
        }
      }
      @media screen and (max-width:200000px) {
        margin-left: 20%;
        
      }
    }
  
    @media screen and (max-width: 768px) {
      .cards {
        width: 100%;
        left: 0;
        // top: 145px;
        margin-left: 0px;
      }
    }
  }
  
  .cardImage {
    width: 100%;
    height: 150px;
  }
  
  .cardContent {
    padding: 20px;
    background-color: rgb(242, 238, 238);
  }
  
  .cardTitle {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: #333;
    background-color: rgb(242, 238, 238);
  }
  
  .cardDate {
    font-size: 0.9em;
    color: #777;
    margin: 0;
  }
  