.navbar_cain {
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.caintainer {
  display: flex;
  justify-content: end;
  padding: 30px;
  color: white;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
  z-index: 40;
  gap: 30px;
}

.search_box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.input {
  padding: 10px;
  width: 30%;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    font-size: 20px;
    width: 60%;
  }
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.suggestionItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.suggestionItem:hover {
  background-color: #f0f0f0;
}

.suggestionImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.suggestionText {
  font-size: 16px;
  font-weight: bold;
}

.items {
  position: relative;
  right: 80px;
  font-size: 18px;
}

.name {
  display: flex;
}

.name p {
  cursor: pointer;
}

.name p:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}

.line {
  margin-left: 10px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 50;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .caintainer {
    display: none;
  }

  .hamburger {
    display: block;
    color: white;
  }

  .line {
    display: none;
  }

  .name {
    position: absolute;
    top: 100px;
    width: 100%;
    font-size: 30px;
  }

  .name p {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }

  .showMenu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 80px;
    align-items: center;
    top: 0;
    height: 100vh;
    width: 70%;
    list-style-type: none;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(0,212,255,1) 100%);
    position: fixed;
    left: 0;
    z-index: 40;
    animation: come 0.5s ease-in-out 1 forwards;
  }

  @keyframes come {
    0% {
      width: 40%;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

  .search_box {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20px;
    right: 5px;
    padding: 13px;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(33, 9, 121, 0.8) 35%,
      rgba(0, 168, 255, 1) 100%
    );
  }

  .input {
    padding: 10px;
    width: 60%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
  }
}
