.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      .formGroup {
        margin-bottom: 1.5rem;
  
        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
        }
  
        input {
          width: 100%;
          padding: 0.5rem;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
  
        .dynamicField {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;
  
          input {
            flex: 1;
            margin-right: 0.5rem;
          }
  
          button {
            padding: 0.5rem 1rem;
            font-size: 0.9rem;
            color: #fff;
            background: #007bff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
  
            &:hover {
              background: #0056b3;
            }
          }
        }
      }
  
      button[type='submit'] {
        padding: 0.75rem;
        font-size: 1rem;
        color: #fff;
        background: #28a745;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background: #218838;
        }
      }
    }
  }
  