.container {
  flex: 1;
  // position: relative;
  top: 100px;
  background: #2f87ed;
  // background-color: black;
  // background-image: url("/tree.jpeg");

  // height: 100vh;

  width: 100%;


  height: 100vh;
  @media screen and (max-width: 768px) {
    top: 0%;
    height: 100vh;
    overflow: hidden;
  }
}
.youCard {
  border: 5px solid red;
  animation: pulse 2s infinite;
  /* Optional: If you want to scale it up on hover */
  /* transition: transform 0.3s ease-in-out; */
}

/* Optional: You can add additional styles for hover if needed */
.youCard:hover {
  transform: scale(1.3);
}
/* styles.css */
.container {
  // display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #2f87ed;
  // position: absolute;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 80vh;
}

.randomImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: top 0.5s, left 0.5s;
}

.locationIcon {
  width: 50px; /* Adjust size as needed */
  height: 50px;
}
/* styles.css */
.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  // width: 80%;
  margin: 0;
  background-color: #f0f0f0;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 80vh;
}

.randomImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: top 0.5s, left 0.5s;
}

.locationIcon {
  width: 50px; /* Adjust size as needed */
  height: 50px;
}


.loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other elements */
  backdrop-filter: blur(5px); /* Blur effect */
}

.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #00ff00; /* Green */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.treeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 128px;
  // margin-top: 21px;

  // width: 5000px;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* Light background for nodes */
  margin: 10px;
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  @media screen and (max-width:768px) {
    
  }
}

.node .icon {
  font-size: 24px;
  margin-bottom: 5px;
  color: #6b73ff; /* Soft color for icons */
}

.node .name {
  font-weight: bold;
  color: #333; /* Darker text color for contrast */
}

.node .email {
  font-size: 12px;
  color: #666;
}

.node .id {
  font-size: 12px;
  color: #888;
}

.lineWrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 50%;
  height: 30px;
}

.line {
  position: absolute;
  border-left: 2px solid #ccc;
  height: 20%;
  width: 100%;
}

.lineLeft {
  left: -50%;
}

.lineRight {
  right: -50%;
  @media screen and (max-width: 768px) {
    right: -24px;
  }
}

.children {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.child {
  margin: 0 10px;
  @media screen and (max-width:768px) {
    margin-top: 20px;
  }
}

.addChild {
  margin-top: 10px;
}

.addChildButton {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #e0f7fa; /* Soft background for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b2ebf2; /* Slightly darker hover background */
  }
}

.buttonWrapper {
  display: flex;
  position: relative;
  top: 80px;
  justify-content: center;
}

.toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e0f7fa; /* Soft background for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b2ebf2; /* Slightly darker hover background */
  }
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #ffffff; /* Light background for modals */
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
}

.sendCoins {
  position: relative;
  left: 0px;
  // bottom: -35px; /* Adjust to position the button relative to the node */
  width: 100%;
}

.sendCoinsButton {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #e0f7fa; /* Soft background for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #b2ebf2; /* Slightly darker hover background */
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  &.updating {
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.sendCoins {
  position: relative;
  left: 0px;
}

.sendCoinsButton,
.updateCoinsButton {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #e0f7fa; /* Soft background for buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 50px;

  &:hover {
    background-color: #b2ebf2; /* Slightly darker hover background */
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  @media screen and (max-width:768px) {
    margin-top: 0px;
    
  }
}

.coinsPopup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.coinsPopup > input,
.coinsPopup > button {
  padding: 3px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.coinsPopup button {
  position: relative;
  top: 25px;
  left: 10px;
}


.sendCoinnew {
  width: 100%;
  display: flex;
  justify-content: center;
}
.backButton {
  color: #006739;
  background-color: white;
  padding: 1%;
  /* margin-top: 15px; */
  position: fixed;
  top: 95px;
  left: 12px;
  @media screen and (max-width: 768px) {
    color: #006739;
    background-color: white;
    padding: 2%;
    margin-top: 90px;
  }
}
@media screen and (max-screen: 480px) {
  .treeContainer {
    position: absolute;
    top: 250px;
    right: 0px;
    left: 60px;
  }
}
@media screen and (max-width: 480px) {
  .treeContainer {
    position: absolute;
    top: 250px;
    right: 0;
    width: 100%;
    left: 0;
    padding: 0 20px; /* Add padding for smaller screens */
  }
  
  .backButton {
    margin-top: 90px; /* Adjust margin for smaller screens */
  }
}
@media screen and (max-width: 768px) {
  .container{
    top: 0px;
    // margin-top:85px;
    height: 95vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
  .treeContainer {
    flex-direction: column;
    position: absolute; /* Stack children vertically */
    // align-items: flex-start; /* Align children to the start */
   
   height: auto; margin-top: 0px; /* Adjust top margin for better spacing on mobile */
  }
  
.toggleButton{
  padding: 0%;
}
  .children {
    flex-direction: column; /* Stack children vertically */
    margin-top: 0px;
    width: 100%;
    align-items: flex-start; /* Align children to the start */
  }

  .child {
    margin: 10px 0; /* Space children vertically */
  }

  .lineWrapper, .lineLeft, .lineRight {
    display: none; /* Hide lines on mobile */
  }
  .node{
    width: 300px;
    padding: 0%;
  }
  .buttonWrapper{
    top:80px
  }
  .imageWrapper {
    position: absolute;
    top:100px;
  }
}
